@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.no-scrollbar{
    stroke-width: none;
}

.swap-button{
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);
}